.form__field-wrapper {
  width: 100%;
  position: relative;
  padding-top: 1.75em;
  border-top: 1px solid $very-light-grey;
  border-bottom: 1px solid $very-light-grey;
  background-color: #fff;
}

.form__field-wrapper + .form__field-wrapper {
  border-top: none;
  display: flex;
}

.form__field-input:focus ~ .form__field-label {
  color: $dark-grey;
  background-color: $very-light-grey;
}

.form__field-input:focus {
  background-color: $very-light-grey;
  color: $very-dark-grey;
}

.form__field-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  z-index: 1;
  font-size: .8em;
  color: $mid-grey;
  font-weight: 400;
  user-select: none;
  cursor: text;
}

.form__field-pin {
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  z-index: 1;
  font-size: .8em;
  color: $mid-grey;
  font-weight: 400;
  user-select: none;
  cursor: text;
}

.form__field-input {
  position: relative;
  padding: 1.625em 16px;
  width: 100%;
  color: $dark-grey;
  border: none;
  outline: 0;
  letter-spacing: 0.05em;
}

.form__submit-btn-wrapper {
  padding: 2em 1em;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.form__submit-btn {
  border: none;
  background-color: #fff;
  border: 1px solid $brand-color;
  padding: 0.5em 1em;
  border-radius: 3px;
  background-color: $brand-color;
  color: white;
  display: block;
  margin: 0 auto;
  position: relative;
}

.js-form__err-animation {
  animation: shake 150ms ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
